body {
    background-color: black;
}
header {
    text-align: center;
    color: rgb(204, 203, 203);
}
.crystals {
   margin: auto;
   width: fit-content;
   
   
}

.crystal {
    background-color: black;
    width: 100%; 
    float: left;
    
}

.container {
   text-align: center;
   color: rgb(204, 204, 204);
   margin: auto;
}
.row {
    display: inline;
    /* margin: auto; */
}
#random-result {
    font-size: 50px;
}
#button-section {
    width: 100%;
    margin: auto;
    width: 680px;
 

}

#previous {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 75px;
    border: none;
    font-size: 1.5rem;
}


#lost-count {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 75px;
    border: none;
    font-size: 1.5rem;
}


#win-count {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 75px;
    border: none;
    font-size: 1.5rem;

}


img {
    width: 200px;
    height: 200px;
    background-color: black;

}
